.section_managecpd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section_managecpd h1 {
  text-align: center;
  color: #941414;
  font-weight: 700;
  font-size: 32px;
  text-decoration: underline;
}

.section_managecpd p {
  padding: 2% 8%;
}
.add_cpd_btn {
  position: absolute;
  top: 45%;
  right: 8px;
  color: white;
  margin-top: 20px;
  background: #941414;
  height: 40px;
  width: 119px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 900;
  transition: 0.5s;
  outline: none;
  border: none;
}
